/* Poppins */

@font-face {
    font-family: 'Titulo';
    src: url('../Fontes/Titulo.woff2') format('woff2');
}

/* Noto Sans */

@font-face {
    font-family: 'Texto';
    src: url('../Fontes/Texto.woff2') format('woff2');
}

@font-face {
    font-family: 'TextoBold';
    src: url('../Fontes/TextoBold.woff2') format('woff2');
}

/* Configuração de tags */

h1, h2, h3, h4, h5, h6{
    font-family: 'Titulo';
}

p, a{
    font-family: 'Texto';
    font-size: 14px;
}

strong{
    font-family: 'TextoBold';
    font-size: 14px;
}